.wrapper {
    display: flex;
    max-height: 100vh;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    margin-left: 0;
    color: #fff;
    transition: margin-left 0.5s;
}

#sidebar.active {
    margin-left: -250px;
}

.color-main {
    background: #E91D63 !important;
    border-color: #E91D63 !important;
}

.sidebar-header {
    text-align:center;
    padding-top:10px;
}

.sidebar-header a {
    font-weight:bold;
    text-decoration: none;
    color:#fff;
    font-size:35px;
}

.title{
    color: #313438;
}
    
.header {
    padding: 20px;
    display: flex;
    align-items: center;
}

.content {
    flex-grow: 1;
    padding: 0 30px 30px 30px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.fullscreen {
    padding: 0 !important;
}

.nav-links {
    text-align:center;
}

.nav-links li {
    margin-top:10px;
    margin-bottom:10px;
}

.nav-links a {
    font-size:20px;
    color:#fff;
    text-decoration: none;
}

.card-img-top {
    height: 170px;
}

.flex-vert-center {
    align-items: center;
}
.flex-grow {
    flex-grow:1;
}
.g-signin2 {
    display: flex;
    justify-content: center;
}

.abcRioButtonContentWrapper {
    background-color: #E91D63 !important;
}

/* Start society profile */

.banner-img {
    max-height: 40vh;
    object-fit: cover;
}
.logo-container {
    margin-top: -75px;
    margin-left: 10vw;
    display: flex;
}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.logo-name {
    display: inline-block;
    align-self: flex-end;
    margin: 25px;
}

/* End society profile */


.form-control.small {
    width: initial !important;
}