.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    color: #fff;
}

.color-main {
    background: #E91D63 !important;
    border-color: #E91D63 !important;
}

.sidebar-header {
    text-align:center;
    padding-top:10px;
}

.sidebar-header a {
    font-weight:bold;
    text-decoration: none;
    color:#fff;
    font-size:35px;
}

.content {
    flex-grow: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.nav-links {
    text-align:center;
}

.nav-links li {
    margin-top:10px;
    margin-bottom:10px;
}

.nav-links a {
    font-size:20px;
    color:#fff;
    text-decoration: none;
}

.card-img-top {
    height: 170px;
}

.flex-vert-center {
    align-items: center;
}
.flex-grow {
    flex-grow:1;
}
.g-signin2 {
    display: flex;
    justify-content: center;
}

.abcRioButtonContentWrapper {
    background-color: #E91D63 !important;
}