<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <title>{{ title }}</title>
        <!-- Include Bootstrap styles -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <!-- Link our own stylesheet -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!-- Include Bootstrap js functions -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- <script src="https://kit.fontawesome.com/09e69acc6e.js" crossorigin="anonymous" async defer></script> -->

        <meta name="google-signin-client_id" content="375227693840-d1eeqq1cik0tmcjcg5j0jj9hfd1oe2e0.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js?onload=initGoogle" async defer></script>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{% static 'js/main.js' %}"></script>
    </head>
    <body>
        <div class="wrapper">
            <nav id="sidebar" class="color-main">
                <div class="sidebar-header">
                    <a href="{% url 'socshare:events' %}">SocShare</a>
                </div>
                <hr width="75%">
                <ul class="list-unstyled nav-links">
                    <li><a href="{% url 'socshare:events' %}">Events</a></li>
                    <li><a href="{% url 'socshare:calendar' %}">Calendar</a></li>
                    <li><a href="{% url 'socshare:profile' 'test' %}">Societies</a></li>
                    <li><a href="{% url 'socshare:login' %}">Login</a></li>
                    <li><a href="{% url 'socshare:register' %}">Register</a></li>
                </ul>
            </nav>
        
            <div class="content {% if fullscreen %}fullscreen{% endif %}">
                {% if not fullscreen %}
                <div class="header">
                    <button onclick="togglesideBar()">AAA</button>
                    <b class="ml-2">{{ title }}</b>
                    <div class="flex-grow"></div>
                    <b id="profilename"></b>
                </div>
                {% else %}
                <!-- there should be floating toggle -->
                {% endif %}
                {% block container %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>