{% extends 'socshare/base.html' %}
{% load static %}

{% block container %}
<div class="container">
    <br /><br />
    <div class="row justify-content-between">
        <div class="col-sm-4"><h2> Upcoming Events </h2></div>
        <div class="col-sm-3" align = "right">{{ date }}</div>
    </div>
    <hr>
    
    {% for event in events %}
    <br>
    <center><div class="card">
        <div class="card-body">    
            <div class="row justify-content-between">
                
                <div class="col-3" style="padding-top: 6px;"> <a style = "font: 25px; text-transform: uppercase; padding-top: 6px; padding-bottom: 12px;">{{ event.date|date:'d b' }}</a></div>
                <div class="col-2" style="padding-top: 6px;"><a style = "font: 25px; text-transform: uppercase;  padding-top: 6px; padding-bottom: 12px;">{{ event.date|date:'H:m' }}</a></div>
                <div class="col-4" style="padding-top: 6px; "><a style = "font: 25px;  padding-top: 6px; padding-bottom: 12px; ">{{ event.name }}</a></div>
                <div class="col-2"><a href="{% url 'socshare:events' %}{{ event.slug }}" class="btn btn-primary color-main">Read More</a></div>
            </div>
        </div>
    </div></center>
    {% endfor %}
    <br>
    <div class="row justify-content-between">
        <div class="col-sm-4"><h2> Event Maps  </h2></div>
    </div>
    <hr>
    <div id="map" class="flex-grow" style = "height: 450px;"></div>
    {% if events %}
    {% for e in events %}
    <marker_data class="gone" location="{{ e.location }}" title="{{ e.name }}"  desc="{{ e.description_short }}" url="{% url 'socshare:events' %}{{ e.slug }}"></marker_data>
    {% endfor %}
    {% endif %}
    <br>
    
    <script>
        function continueMap() {
          $('marker_data').each(function(index) {
              var latlng = $(this).attr("location").split(",");
              var title = $(this).attr("title");
              var desc = $(this).attr("desc");
              var url = $(this).attr("url");
              var marker = new google.maps.Marker({
                  position: {lat: parseFloat(latlng[0]), lng: parseFloat(latlng[1])},
                  url : url,
                  map: map,
                  title: title,
              });
              var infowindow = new google.maps.InfoWindow({
                  content: '<h3>'+'<a href = "' +url + '">'+ title + '</a></h3><br/><p>' + desc + '</p>',
              });
              marker.addListener('click', function() {
                  infowindow.open(map, marker);
              });
          });
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARBD2ZqlvXBMBK7uOBAQsNcUXvGrVYWJM&callback=initMap"
      async defer></script>
</div>
</div>
{% endblock %}