{% extends 'socshare/base.html' %}
{% load static %}

{% block container %}
<div class="row flex-grow">
    <div id="map" class="flex-grow"></div>
    {% if events %}
    {% for e in events %}
    <marker_data class="gone" location="{{ e.location }}" title="{{ e.name }}" desc="{{ e.description_short }}"></marker_data>
    {% endfor %}
    {% endif %}
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 55.872490, lng: -4.289494},
          zoom: 17,
          styles: [
                    {
                        featureType: "poi.business",
                        stylers: [{visibility: "off"}]
                    },
                    {
                        featureType: "poi.park",
                        elementType: "labels.text",
                        stylers: [{visibility: "off"}]
                    }
                ],
        });

        $('marker_data').each(function(index) {
            var latlng = $(this).attr("location").split(",");
            var title = $(this).attr("title");
            var desc = $(this).attr("desc");
            var marker = new google.maps.Marker({
                position: {lat: parseFloat(latlng[0]), lng: parseFloat(latlng[1])},
                map: map,
                title: title,
            });
            var infowindow = new google.maps.InfoWindow({
                content: '<h3>' + title + '</h3><br/><p>' + desc + '</p>',
            });
            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARBD2ZqlvXBMBK7uOBAQsNcUXvGrVYWJM&callback=initMap"
    async defer></script>
</div>
{% endblock %}