{% extends 'socshare/base.html' %}
{% load static %}

{% block container %}
<br>
<table>
    <tr>
        <br>
        <br>
        <div class="row justify-content-around">
            <div class="col-sm-7">
                <h2>Edit "{{ event.name }}"</h2>
            </div>
            <div class="col-sm-4">
                <br>
                <h4>Live View</h4>
                <br>
            </div>
        </div>
        <br>
        <!-- 3 coloums -->

        <div class="row justify-content-around">
            <div class="col-sm-6">
                <!-- First coloum Form  -->
                <form method='POST' enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- First Row -->
                    <div class="form-group">
                    <input name="name" type="text" class="form-control" id="nameInput" placeholder = "Event Name" value="{{ event.name }}">
                    </div>
                    <!-- Second Row -->
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">  
                                <input name="date" type="date" class="form-control" id="dateInput" placeholder="Date">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input name="time" type="time" class="form-control" id="timeInput" placeholder="Time">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input name="location" type="text" class="form-control" id="locationInput" placeholder="Location"   value = "{{ event.location }}">
                            </div>
                        </div>
                    </div>
                    <!-- Third Row -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input name="url" type="url" class="form-control" id="urlInput" placeholder="Tickets URL" value = "{{ event.ticket_url }}">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="custom-file">
                                <input name="banner" type="file" class="custom-file-input" id="inputGroupFile01"
                                    aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label" for="inputGroupFile01">Banner Image</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fourth Row - Description -->
                    <div class="form-group">
                        <textarea name="description" class="form-control" id="descriptionInput" rows="8" placeholder="New Event Description"></textarea>
                    </div>
                    <!-- Fivth Row - Map -->
                    <div class="row map m-2">
                        <input name="location" type="hidden" class="form-control" id="locationInput" placeholder="Location">
                        <div id="map" class="flex-grow"></div>
                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARBD2ZqlvXBMBK7uOBAQsNcUXvGrVYWJM&callback=initMap"
                        async defer></script>
                        <script>
                            var marker = null;
                            function continueMap() {
                                map.addListener('click', function(e) {
                                    if (marker != null) {
                                        marker.setMap(null);
                                    }
                                    marker = new google.maps.Marker({
                                        position: e.latLng,
                                        map: map
                                    });
                                    $('input[name="location"]').val(e.latLng.lat() + ', ' + e.latLng.lng());
                                });
                            }
                        </script>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Edit Event</button>
                    </div>
                </form>
            </div>
            <!-- Live view card - Ryan take a look at this too -->
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
                <div class="card">
                    <img src="{{ MEDIA_URL}}{{ event.banner }}" class="card-img-top" alt="Card image">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm">
                                <h5 id="live-name" class="card-title">{{ event.name }}</h5>
                            </div>
                        </div>
                        <p id="live-desc" class="card-text">{{ event.description_short }}</p>
                        <!-- This button does litreally nothing for live view -->
                        <a href="{% url 'socshare:events' %}{{ event.slug }}" class="btn btn-primary color-main">Read More</a>
                    </div>
                </div>
            </div>
            <script>
                $('#nameInput').change(function() {
                    $('#live-name').text($('#nameInput').val());
                });
                $('#descriptionInput').change(function() {
                    $('#live-desc').text($('#descriptionInput').val().substring(0,200)+'...');
                });
            </script>
        </div>
    </tr>
</table>
{% endblock %}