{% extends 'socshare/base.html' %}
{% load static %}

{% block container %}
<img src="{{ MEDIA_URL }}{{ event.banner }}" class="banner-img" alt="Event image">
<div class="content">
    <table class="table table-borderless">
        <hr style="height:30pt; visibility:hidden;">
        <tr>
            <!-- Name and Time -->
            <center>
                <div class="row justify-content-between">
                    <div class="col-sm-5">
                        <h1>{{ event.name }}</h1>
                    </div>
                    <div class="col-sm-5">
                        <h2>{{ event.date }}</h2>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col align-self-end">
                        <font size="5">{{ event.society }}</font>
                    </div>
                </div>
                <hr style="height:20pt; visibility:hidden;">
                <!-- Description -->
                <div class="row justify-content-center">
                    <div class="col-sm-8">
                        <p style="align-content:justify;"> {{ event.description }} </p>
                    </div>
                </div>
            </center>
        </tr>
        <hr style="height:30pt; visibility:hidden;">
        {% if event.ticket_url %}
        <tr>
            <div class="row align-self-center">
                <div class="col">
                    <a href="{{ event.ticket_url }}" type="button" class="btn btn-primary">Buy Tickets Here</a>
                </div>
            </div>
        </tr>
        {% endif %}
        <br>
    </table>
    <form method="POST">
        {% csrf_token %}
        <input  name="comment" type="text" class="form-control" id="commentInput" placeholder="Leave a comment...">
        <input type="hidden" id="authTokenComment" name="token" value="">
    </form>
    <button type="submit" id="commentSubmit" class="btn btn-primary btn-lg btn-block">Post</button>
    {% for comment in comments %}
    <br>
    {{ comment.name }}, {{ comment.date }}<br>
    {{ comment.content }}
    <br>
    {% endfor %}
</div>
{% endblock %}