{% extends 'socshare/top_bar_base.html' %}
{% load static %}


{% block title %}
{{ pageTitle }}
{% endblock %}

{% block breadcrumb %}
.. / events
{% endblock %}

{% block pageTitle %}
{{ pageTitle }}
{% endblock %}

{% block section %}
<!-- <b>Body</b> -->
<div class="d-flex flex-wrap">
    {% if events %}
    {% for e in events %}
    <div class="card flex-fill" style="width:420px">
        <img class="card-img-top" src="/media/events_banners/{{ e.img }}" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">{{ e.name }}</h4>
            <p class="card-text">{{ e.description }}</p>
            <a href="/events/{{ e.url }}" class="btn btn-primary">Read More</a>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <strong>There are no Events right now.</strong>
    {% endif %}
</div>


{% endblock %}