{% extends 'socshare/base.html' %}
{% load static %}

{% block title %}
Events
{% endblock %}

{% block container %}
{% if search %}
<h1>Events matching '{{search}}'</h1>
<br /><br />
{% endif %}
<div class="row row-cols-md-1 row-cols-lg-2 row-cols-xl-3 flex-grow">
    {% if events %}
    {% for e in events %}
    <div class="col mb-4">
        <div class="card">
            <img src="{{ MEDIA_URL }}{{ e.banner }}" class="card-img-top" alt="Card image">
            <div class="card-body">
                <h5 class="card-title">{{ e.name }}</h5>
                <p class="card-text">{{ e.description_short }}</p>
                <a href="{% url 'socshare:events' %}{{ e.slug }}" class="btn btn-primary color-main">Read More</a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <strong>There are no Events right now.</strong>
    {% endif %}
</div>
{% endblock %}