{% extends 'socshare/base.html' %}
{% load static %}

{% block container %}
<div class="row flex-vert-center flex-grow justify-content-center">
    <div class="col-12 col-xl-4 col-lg-5">
        {% if alert %}
        <div class="alert alert-{{ alert }}" role="alert">
            {{ alert_msg }}
        </div>
        {% endif %}
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-center">    
                    <form action="{% url 'socshare:login' %}" method="POST">
                        {% csrf_token %}
                        <h4 class="card-title text-center" style="padding-top: 20px; padding-bottom: 20px;">Login to your society account</h4>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input name="password" type="password" class="form-control" id="exampleInputPassword1" required>
                        </div>
                        <div class="form-group form-check">
                            <input name="remember" type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Stay logged in</label>
                        </div>
                        <center><button type="submit" class="btn btn-primary color-main">Submit</button></center>
                    </form>
                </div>
                <br>
                <div class= "row justify-content-md-center">
                    <div class = "col-lg-5" style = "padding-right: 0; padding-left: 0; margin-right: 0; margin-left: 0;">
                        <hr>
                    </div>
                    <div class = "col-md-2" style = "padding-right: 0; padding-left: 0; margin-right: 0; margin-left: 0;">
                        <center><b> OR</b></center>
                    </div>
                    <div class = "col-lg-5" style = "padding-right: 0; padding-left: 0; margin-right: 0; margin-left: 0;">
                        <hr>
                    </div>
                </div>
                <br>
                <div class= "row justify-content-center"></div>
                    <div class= "row justify-content-center flex-row">
                            <h4>Login to your user account</h4>
                        </div>
                        <br>
                        <div class= "row justify-content-center"><div class="g-signin2" data-theme="dark"></div>
                        
                        </div>
                        <br>
                    </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-auto text-center">
        <b>OR</b>
    </div>
    <div class="col-12 col-xl-4 col-lg-5">
        <h5 class="text-center">Login to your user account</h5>
    <div class="g-signin2" data-theme="dark"></div> -->
    <br/>
    <br/>
    <br/>
    </div>
</div>
{% endblock %}